apiVersion: v1
kind: DeploymentConfig
metadata:
  generation: 1
  labels:
    app: {{ app.name }}
  name: {{ app.name }}
spec:
  replicas: 1
  selector:
    deploymentconfig: {{ app.name }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: {{ app.name }}
        deploymentconfig: {{ app.name }}
    spec:
      containers:
      - image: {{ app.name }}:latest
        imagePullPolicy: Always
        name: {{ app.name }}
        ports:
        - containerPort: {{ app.port }}
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - imageChangeParams:
      containerNames:
      - {{ app.name }}
      from:
        kind: ImageStreamTag
        name: {{ app.name }}:latest
        namespace: {{ namespace }}
    type: ImageChange
